<section id="hero">
  <canvas #heroCanvas class="hero-canvas"></canvas>
  <div class="hero-bg"></div>

  <div class="hero-content">


    <h1 class="hero-title">
      Tecnología<br>
      <span class="accent">que escala</span><br>
      <span class="thin">contigo.</span>
    </h1>

    <p class="hero-sub">
      Sistemas, plataformas y soluciones que resisten el mañana.
    </p>

    <div class="hero-actions">
      <button class="btn-primary" (click)="scrollTo('servicios')">Ver servicios</button>
      <button class="btn-ghost" (click)="scrollTo('contacto')">Hablar con nosotros</button>
    </div>

    <!-- <div class="hero-stats">
      <div class="stat">
        <div class="stat-num">50+</div>
        <div class="stat-label">Proyectos entregados</div>
      </div>
      <div class="stat">
        <div class="stat-num">98%</div>
        <div class="stat-label">Satisfacción cliente</div>
      </div>
      <div class="stat">
        <div class="stat-num">3x</div>
        <div class="stat-label">Crecimiento promedio</div>
      </div>
    </div> -->
  </div>
</section>